<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data_version</key>
	<integer>2</integer>
	<key>row_count</key>
	<integer>4</integer>
	<key>rows</key>
	<array>
		<dict>
			<key>clips</key>
			<array>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855200.367085</real>
					</dict>
					<key>time_end</key>
					<real>5.0501533700000003</real>
					<key>time_start</key>
					<real>1.0501066699999999</real>
					<key>uuid</key>
					<string>248798586004141856</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855205.881671</real>
					</dict>
					<key>time_end</key>
					<real>10.566979829999999</real>
					<key>time_start</key>
					<real>6.5669304200000003</real>
					<key>uuid</key>
					<string>248798591516577248</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855212.2652049</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>16.333784789999999</real>
								<key>uuid</key>
								<string>248798599433245088</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>16.950512209999999</real>
					<key>time_start</key>
					<real>12.950424829999999</real>
					<key>uuid</key>
					<string>248798597899863360</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855222.081315</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>25.834062580000001</real>
								<key>uuid</key>
								<string>248798608933395072</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>26.767442750000001</real>
					<key>time_start</key>
					<real>22.767365869999999</real>
					<key>uuid</key>
					<string>248798607716589312</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855228.5476809</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.6667,0.0889,0.0889</string>
								<key>name</key>
								<string>Bad</string>
								<key>time</key>
								<real>32.917586210000003</real>
								<key>uuid</key>
								<string>248798616016589088</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>33.234257290000002</real>
					<key>time_start</key>
					<real>29.23420029</real>
					<key>uuid</key>
					<string>248798614183302464</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855253.7887139</real>
					</dict>
					<key>time_end</key>
					<real>55.669809960000002</real>
					<key>time_start</key>
					<real>51.667973959999998</real>
					<key>uuid</key>
					<string>248798639415062048</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855259.8387442</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>60.452483749999999</real>
								<key>uuid</key>
								<string>248798646352213856</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>60.826319179999999</real>
					<key>time_start</key>
					<real>57.702582370000002</real>
					<key>uuid</key>
					<string>248798645447178016</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855262.172199</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.6667,0.0889,0.0889</string>
								<key>name</key>
								<string>Bad</string>
								<key>time</key>
								<real>63.102568210000001</real>
								<key>uuid</key>
								<string>248798648998379264</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>64.052584539999998</real>
					<key>time_start</key>
					<real>60.036934459999998</real>
					<key>uuid</key>
					<string>248798647780777888</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855272.0218201</real>
					</dict>
					<key>time_end</key>
					<real>71.769893370000005</real>
					<key>time_start</key>
					<real>67.769357499999998</real>
					<key>uuid</key>
					<string>248798657650979968</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855282.339303</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.6667,0.0889,0.0889</string>
								<key>name</key>
								<string>Bad</string>
								<key>time</key>
								<real>81.136318709999998</real>
								<key>uuid</key>
								<string>248798669170200288</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>82.086358579999995</real>
					<key>time_start</key>
					<real>78.086292119999996</real>
					<key>uuid</key>
					<string>248798667969108160</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855310.9752259</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>109.93707886999999</real>
								<key>uuid</key>
								<string>248798697968912640</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>110.72043832999999</real>
					<key>time_start</key>
					<real>106.72038108</real>
					<key>uuid</key>
					<string>248798696599856928</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715874644.567369</real>
					</dict>
					<key>time_end</key>
					<real>129.18849807999999</real>
					<key>time_start</key>
					<real>125.17230954</real>
					<key>uuid</key>
					<string>248818030809085632</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715875386.2308631</real>
					</dict>
					<key>time_end</key>
					<real>283.43182768000003</real>
					<key>time_start</key>
					<real>279.43179071999998</real>
					<key>uuid</key>
					<string>248818772539871424</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.1956,0.7224</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715875408.899235</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>time</key>
								<real>304.97126226</real>
								<key>uuid</key>
								<string>248818796242332448</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>306.09837358999999</real>
					<key>time_start</key>
					<real>302.08654872</real>
					<key>uuid</key>
					<string>248818795203173568</string>
				</dict>
			</array>
			<key>color</key>
			<string>0.7333,0.1956,0.7224</string>
			<key>height</key>
			<real>20</real>
			<key>height_real</key>
			<real>20</real>
			<key>row_name</key>
			<string>My Clips</string>
			<key>row_number</key>
			<integer>1</integer>
			<key>uuid_row</key>
			<string>2D16BC8D-936D-4AAA-905A-B1A25FECB3F5-1559-0000029687F69524</string>
		</dict>
		<dict>
			<key>clips</key>
			<array>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855203.1149611</real>
					</dict>
					<key>time_end</key>
					<real>7.8002151700000004</real>
					<key>time_start</key>
					<real>3.8001531200000001</real>
					<key>uuid</key>
					<string>248798588749830048</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855209.6311111</real>
					</dict>
					<key>time_end</key>
					<real>14.31706608</real>
					<key>time_start</key>
					<real>10.317018210000001</real>
					<key>uuid</key>
					<string>248798595264498816</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855215.147769</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>19.100521539999999</real>
								<key>uuid</key>
								<string>248798602199930912</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>19.833895330000001</real>
					<key>time_start</key>
					<real>15.833844579999999</real>
					<key>uuid</key>
					<string>248798600780746752</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855224.681762</real>
					</dict>
					<key>time_end</key>
					<real>29.36825692</real>
					<key>time_start</key>
					<real>25.367465249999999</real>
					<key>uuid</key>
					<string>248798610313880608</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855234.9307609</real>
					</dict>
					<key>time_end</key>
					<real>39.617758119999998</real>
					<key>time_start</key>
					<real>35.617738959999997</real>
					<key>uuid</key>
					<string>248798620565216224</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855255.5560951</real>
					</dict>
					<key>time_end</key>
					<real>57.436618369999998</real>
					<key>time_start</key>
					<real>53.419590040000003</real>
					<key>uuid</key>
					<string>248798641168374336</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855264.5718479</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.6667,0.0889,0.0889</string>
								<key>name</key>
								<string>Bad</string>
								<key>time</key>
								<real>65.419289329999998</real>
								<key>uuid</key>
								<string>248798651316504768</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>66.452648830000001</real>
					<key>time_start</key>
					<real>62.452609039999999</real>
					<key>uuid</key>
					<string>248798650198118432</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855274.538445</real>
					</dict>
					<key>time_end</key>
					<real>74.286146250000002</real>
					<key>time_start</key>
					<real>70.286091290000002</real>
					<key>uuid</key>
					<string>248798660166601024</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715874736.2003598</real>
					</dict>
					<key>time_end</key>
					<real>219.65906029000001</real>
					<key>time_start</key>
					<real>215.64835896</real>
					<key>uuid</key>
					<string>248818122484395936</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715875396.574579</real>
					</dict>
					<key>time_end</key>
					<real>293.77560500999999</real>
					<key>time_start</key>
					<real>289.75698268000002</real>
					<key>uuid</key>
					<string>248818782889749888</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7467,0.5421,0.219</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715875417.3806639</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>313.54927708999998</real>
								<key>uuid</key>
								<string>248818804811368416</string>
							</dict>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.347,0.8133,0.7277</string>
								<key>name</key>
								<string>Type B</string>
								<key>time</key>
								<real>314.03262625999997</real>
								<key>uuid</key>
								<string>248818805288236160</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>314.58265046999998</real>
					<key>time_start</key>
					<real>310.58259737999998</real>
					<key>uuid</key>
					<string>248818803695205728</string>
				</dict>
			</array>
			<key>color</key>
			<string>0.7467,0.5421,0.219</string>
			<key>height</key>
			<real>20</real>
			<key>height_real</key>
			<real>20</real>
			<key>row_name</key>
			<string>Your Clips</string>
			<key>row_number</key>
			<integer>2</integer>
			<key>uuid_row</key>
			<string>26BBEB36-A2CA-48C9-ACF0-086C988BE2DD-1559-000002968BE51281</string>
		</dict>
		<dict>
			<key>clips</key>
			<array>
				<dict>
					<key>color</key>
					<string>0.7333,0.7224,0.1956</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855208.5144892</real>
					</dict>
					<key>time_end</key>
					<real>13.200424870000001</real>
					<key>time_start</key>
					<real>9.2003297499999999</real>
					<key>uuid</key>
					<string>248798594149864032</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.7224,0.1956</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855219.9639091</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>23.200674169999999</real>
								<key>uuid</key>
								<string>248798606299918816</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>24.65011062</real>
					<key>time_start</key>
					<real>20.633999500000002</real>
					<key>uuid</key>
					<string>248798605583299904</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.7224,0.1956</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855236.2972701</real>
					</dict>
					<key>time_end</key>
					<real>40.98445967</real>
					<key>time_start</key>
					<real>36.98439862</real>
					<key>uuid</key>
					<string>248798621929597632</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.7224,0.1956</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855250.5224938</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>51.46889358</real>
								<key>uuid</key>
								<string>248798637369311040</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>52.402266670000003</real>
					<key>time_start</key>
					<real>48.40220008</real>
					<key>uuid</key>
					<string>248798636149644672</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.7224,0.1956</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855314.1713309</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.6667,0.0889,0.0889</string>
								<key>name</key>
								<string>Bad</string>
								<key>time</key>
								<real>112.8204965</real>
								<key>uuid</key>
								<string>248798700851885888</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>113.92051917000001</real>
					<key>time_start</key>
					<real>109.92045579000001</real>
					<key>uuid</key>
					<string>248798699798587168</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.7224,0.1956</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715874751.581686</real>
					</dict>
					<key>time_end</key>
					<real>235.04175849999999</real>
					<key>time_start</key>
					<real>231.02678008000001</real>
					<key>uuid</key>
					<string>248818137835312768</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.7333,0.7224,0.1956</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715874766.4159751</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>time</key>
								<real>248.60112267</real>
								<key>uuid</key>
								<string>248818153576521056</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>249.87625478999999</real>
					<key>time_start</key>
					<real>245.86724150000001</real>
					<key>uuid</key>
					<string>248818152673622880</string>
				</dict>
			</array>
			<key>color</key>
			<string>0.7333,0.7224,0.1956</string>
			<key>height</key>
			<real>20</real>
			<key>height_real</key>
			<real>20</real>
			<key>row_name</key>
			<string>Highlight Clips</string>
			<key>row_number</key>
			<integer>3</integer>
			<key>uuid_row</key>
			<string>37D32C0E-C430-4631-BCA9-8A014EB3C080-1559-00000296939F37B6</string>
		</dict>
		<dict>
			<key>clips</key>
			<array>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855210.8654661</real>
					</dict>
					<key>time_end</key>
					<real>15.55102617</real>
					<key>time_start</key>
					<real>11.55037529</real>
					<key>uuid</key>
					<string>248798596499633248</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855218.097939</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>time</key>
								<real>21.50059117</real>
								<key>uuid</key>
								<string>248798604599938752</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>22.783974959999998</real>
					<key>time_start</key>
					<real>18.783923919999999</real>
					<key>uuid</key>
					<string>248798603729190464</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855229.3144279</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.6667,0.0889,0.0889</string>
								<key>name</key>
								<string>Bad</string>
								<key>time</key>
								<real>32.917586210000003</real>
								<key>uuid</key>
								<string>248798616016647552</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>34.000946210000002</real>
					<key>time_start</key>
					<real>30.000895920000001</real>
					<key>uuid</key>
					<string>248798614949960608</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855239.83059</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.347,0.8133,0.7277</string>
								<key>name</key>
								<string>Type B</string>
								<key>time</key>
								<real>43.084517959999999</real>
								<key>uuid</key>
								<string>248798626183188160</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>43.634062239999999</real>
					<key>time_start</key>
					<real>40.517833869999997</real>
					<key>uuid</key>
					<string>248798625462917920</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855242.164017</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>time</key>
								<real>45.51792425</real>
								<key>uuid</key>
								<string>248798628616410208</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>46.851298290000003</real>
					<key>time_start</key>
					<real>42.850241830000002</real>
					<key>uuid</key>
					<string>248798627798090784</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855257.2742181</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>time</key>
								<real>58.269096709999999</real>
								<key>uuid</key>
								<string>248798644166583968</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>59.152453250000001</real>
					<key>time_start</key>
					<real>55.152387789999999</real>
					<key>uuid</key>
					<string>248798642898407904</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855278.1719141</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.347,0.8133,0.7277</string>
								<key>name</key>
								<string>Type B</string>
								<key>time</key>
								<real>76.669542039999996</real>
								<key>uuid</key>
								<string>248798664703098816</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>77.919572619999997</real>
					<key>time_start</key>
					<real>73.919523670000004</real>
					<key>uuid</key>
					<string>248798663799066912</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855289.4937921</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>qualifier_attributes</key>
								<array>
									<dict>
										<key>attr_uuid</key>
										<string>248798676700181152</string>
										<key>category</key>
										<string>Location</string>
										<key>color</key>
										<string>0.5,0.5,0.5</string>
										<key>name</key>
										<string>Grid</string>
										<key>time</key>
										<real>88.819771119999999</real>
										<key>x</key>
										<real>35</real>
										<key>y</key>
										<real>55</real>
									</dict>
								</array>
								<key>time</key>
								<real>87.970341790000006</real>
								<key>uuid</key>
								<string>248798676002835744</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>89.23654646</real>
					<key>time_start</key>
					<real>85.220623500000002</real>
					<key>uuid</key>
					<string>248798675103084320</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855294.541858</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.347,0.8133,0.7277</string>
								<key>name</key>
								<string>Type B</string>
								<key>qualifier_attributes</key>
								<array>
									<dict>
										<key>attr_uuid</key>
										<string>248798681935891648</string>
										<key>category</key>
										<string>Location</string>
										<key>color</key>
										<string>0.5,0.5,0.5</string>
										<key>name</key>
										<string>Grid</string>
										<key>time</key>
										<real>94.052969669999996</real>
										<key>x</key>
										<real>71</real>
										<key>y</key>
										<real>32</real>
									</dict>
								</array>
								<key>time</key>
								<real>93.044569870000004</real>
								<key>uuid</key>
								<string>248798681084998208</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>94.286682209999995</real>
					<key>time_start</key>
					<real>90.271727420000005</real>
					<key>uuid</key>
					<string>248798680154706080</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855300.424473</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>qualifier_attributes</key>
								<array>
									<dict>
										<key>attr_uuid</key>
										<string>248798687783631808</string>
										<key>category</key>
										<string>Location</string>
										<key>color</key>
										<string>0.5,0.5,0.5</string>
										<key>name</key>
										<string>Grid</string>
										<key>time</key>
										<real>99.903486209999997</real>
										<key>x</key>
										<real>14</real>
										<key>y</key>
										<real>85</real>
									</dict>
								</array>
								<key>time</key>
								<real>99.003464919999999</real>
								<key>uuid</key>
								<string>248798687037401408</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>100.16928458</real>
					<key>time_start</key>
					<real>96.153434290000007</real>
					<key>uuid</key>
					<string>248798686034928608</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855306.5582628</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>qualifier_attributes</key>
								<array>
									<dict>
										<key>attr_uuid</key>
										<string>248798693850639808</string>
										<key>category</key>
										<string>Location</string>
										<key>color</key>
										<string>0.5,0.5,0.5</string>
										<key>name</key>
										<string>Grid</string>
										<key>time</key>
										<real>105.97018454000001</real>
										<key>x</key>
										<real>66</real>
										<key>y</key>
										<real>25</real>
									</dict>
								</array>
								<key>time</key>
								<real>105.17823537</real>
								<key>uuid</key>
								<string>248798693235170016</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>106.30365492</real>
					<key>time_start</key>
					<real>102.28783812</real>
					<key>uuid</key>
					<string>248798692155140480</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855316.7069869</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.347,0.8133,0.7277</string>
								<key>name</key>
								<string>Type B</string>
								<key>qualifier_attributes</key>
								<array>
									<dict>
										<key>attr_uuid</key>
										<string>248798704154633792</string>
										<key>category</key>
										<string>Location</string>
										<key>color</key>
										<string>0.5,0.5,0.5</string>
										<key>name</key>
										<string>Grid</string>
										<key>time</key>
										<real>116.27155358</real>
										<key>x</key>
										<real>58</real>
										<key>y</key>
										<real>66</real>
									</dict>
								</array>
								<key>time</key>
								<real>115.22054058000001</real>
								<key>uuid</key>
								<string>248798703249507008</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>116.45392292</real>
					<key>time_start</key>
					<real>112.43746004</real>
					<key>uuid</key>
					<string>248798702316746368</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715855321.6219769</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>qualifier_attributes</key>
								<array>
									<dict>
										<key>attr_uuid</key>
										<string>248798709483255328</string>
										<key>category</key>
										<string>Location</string>
										<key>color</key>
										<string>0.5,0.5,0.5</string>
										<key>name</key>
										<string>Grid</string>
										<key>time</key>
										<real>121.60405279</real>
										<key>x</key>
										<real>22</real>
										<key>y</key>
										<real>18</real>
									</dict>
								</array>
								<key>time</key>
								<real>120.82068408000001</real>
								<key>uuid</key>
								<string>248798708849934464</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>121.37070375</real>
					<key>time_start</key>
					<real>117.35489432999999</real>
					<key>uuid</key>
					<string>248798707238203296</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715874744.015115</real>
					</dict>
					<key>time_end</key>
					<real>227.47496217</real>
					<key>time_start</key>
					<real>223.45916120999999</real>
					<key>uuid</key>
					<string>248818130261021888</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715874777.499161</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>259.58301483000002</real>
								<key>uuid</key>
								<string>248818164558469280</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>260.95977607999998</real>
					<key>time_start</key>
					<real>256.948984</real>
					<key>uuid</key>
					<string>248818163774854496</string>
				</dict>
				<dict>
					<key>color</key>
					<string>0.0889,0.1361,0.6667</string>
					<key>edit_info</key>
					<dict>
						<key>author</key>
						<string>danewilliamson</string>
						<key>edit_seconds</key>
						<real>1715874786.800298</real>
					</dict>
					<key>qualifiers</key>
					<dict>
						<key>qualifiers_array</key>
						<array>
							<dict>
								<key>category</key>
								<string>Outcome</string>
								<key>color</key>
								<string>0.1524,0.6933,0.1294</string>
								<key>name</key>
								<string>Good</string>
								<key>time</key>
								<real>268.99892741999997</real>
								<key>uuid</key>
								<string>248818173967301472</string>
							</dict>
							<dict>
								<key>category</key>
								<string>Type</string>
								<key>color</key>
								<string>0.2937,0.5754,0.7867</string>
								<key>name</key>
								<string>Type A</string>
								<key>time</key>
								<real>269.44229875000002</real>
								<key>uuid</key>
								<string>248818174393811616</string>
							</dict>
						</array>
					</dict>
					<key>time_end</key>
					<real>270.26138033000001</real>
					<key>time_start</key>
					<real>266.24530288</real>
					<key>uuid</key>
					<string>248818173031743840</string>
				</dict>
			</array>
			<key>color</key>
			<string>0.0889,0.1361,0.6667</string>
			<key>height</key>
			<real>20</real>
			<key>height_real</key>
			<real>20</real>
			<key>row_name</key>
			<string>Event</string>
			<key>row_number</key>
			<integer>4</integer>
			<key>uuid_row</key>
			<string>A3DF386E-9C7F-41AB-8E3D-3506D6F51D7D-1559-0000029696FB609E</string>
		</dict>
	</array>
	<key>show_rows_by_category</key>
	<true/>
	<key>uuid_timeline</key>
	<string>5D1BDC0E-C372-4DBE-B8D5-FB0F7215C7AF-1559-0000028EF29D0C74-[A]-248797228864843264</string>
</dict>
</plist>
