<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JSON export folder path</key>
	<string>/Users/danewilliamson/Desktop/fulcrum_html_reports_template-main/imports</string>
</dict>
</plist>
